<button style='margin-bottom:10px;' *ngIf='canEdit' [routerLink]="[ 'create']">添加用户</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>email</th>
            <th>role</th>
            <th *ngIf='canEdit'>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of userList">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>
                <span class='role-name' *ngFor='let r of u.roles'>{{r.name}}</span>
                <a *ngIf='canEdit && isChildrenRole(u)' [routerLink]="[u.id+'/role']">修改</a>
            </td>
            <td>
                <ng-container *ngIf='canEdit && isChildrenRole(u)'>
                    &nbsp;
                    <button [routerLink]="[u.id+'/edit']">编辑</button>
                    &nbsp;
                    <button (click)='onDeleteById(u.id)'>删除</button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
