<header>
    <div style='font-size:20px;'>权限管理系统</div>
    <a *ngFor='let item of headerNavList' [attr.href]="item.href">{{item.label}}</a>

    <div style='margin-left:auto;' [ngSwitch]="sess">
        <a *ngSwitchCase="null" [routerLink]="[ '/login']">登录</a>
        <ng-container *ngSwitchDefault>
            {{sess?.name }}
            [<a href='#' (click)="$event.preventDefault();onLogout()">退出</a>]
        </ng-container>
    </div>
</header>
<aside>
    <ul>
        <li *ngFor="let item of asideNavList">
            <a [routerLink]="[ item.path ]" routerLinkActive='active'>{{item.label}}</a>
        </li>
    </ul>
</aside>
<main>
    <router-outlet></router-outlet>
</main>

